---
import HomeSidebar from "../components/HomeSidebar.astro";
import Pagination from "../components/Pagination.astro";
import PostList from "../components/PostList.astro";
import HalorumLayout from "../layouts/HalorumLayout.astro";
---

<HalorumLayout
  page="category"
  titleExpression="|${tag.spec.displayName} - ${site.title}|"
  descriptionExpression="${tag.spec.description ?: site.subtitle}"
  contentClass="category-content"
  showCategoryNav
  showFooterInRight
>
  <div class="main-left">
    <div class="category-tips">
      <div class="category-tips-content">
        <span class="category-tips-name" th:text="${tag.spec.displayName}"></span>
        <span class="category-tips-count" th:text="|${posts.total} 篇文章|"></span>
      </div>
    </div>
    <PostList />
    <Pagination />
  </div>
  <HomeSidebar />
</HalorumLayout>
