<div class="copyright">
  <div class="copyright-content">
    <div class="copyright-title">版权声明</div>
    <div class="copyright-desc">
      本文由 <a th:href="@{/}" th:text="${site.title}"></a> 发布，转载请注明来源。
    </div>
  </div>
</div>
