<div class="mobile-directory-tree">
  <div class="mobile-directory-tree-mask"></div>
  <div class="mobile-directory-tree-content">
    <div class="mobile-directory-tree-head">
      <span class="mobile-directory-tree-title">目录</span>
      <span class="mobile-directory-tree-close">
        <i class="halorum-icon halorum-icon-guanbi"></i>
      </span>
    </div>
    <div class="mobile-directory-tree-body"></div>
  </div>
</div>

